nav ul li a {
  background-color: #ff4545;
}

nav {
  background-color: orange;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

nav ul li {
  margin: 0px 25px;
}

.main {
  border: 20px solid pink;
  background-color: green;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-top: 0px;
}

.box {
  border: 20px solid pink;
  background-color: green;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-top: 0px;
}

.box-1 {
  border: 20px solid pink;
  background-color: green;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-top: 0px;
}

.box-2 {
  border: 20px solid pink;
  background-color: green;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-top: 0px;
}

.box-3 {
  border: 20px solid pink;
  background-color: green;
  height: 250px;
  width: 250px;
  display: inline-block;
  margin-top: 0px;
}