<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <html>
        <head>
            <link href="all.css" rel="stylesheet">
            </head>
            <body>
         <nav>
            <ul class="abc">
            <li class="ab">Contact</li>
            <li class="ab">About</li>
            <li class="ab">Projects</li>
            <li style="float: left;">BR  Architects</li>       
        </ul>
        </nav>
        <h1><b>BR</b> Architects</h1>

   
  </div>
  <h2 class="a">Project</h2>
  <hr style="margin: 0px 40px 30px 30px;">
  <div>
    <div style="margin-left: 20px; float: left;"> 
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house5.jpg" alt="house">
      </div>
    </div>

    <div style="margin-left: 20px; float: left;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house2.jpg" alt="house">
      </div>
    </div>

    <div style="margin-left: 20px; float: left;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house3.jpg" alt="house">
      </div>
    </div>

    <div style="margin-left: 20px; float: left; top: 20px;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house4.jpg" alt="house">
      </div>
    </div>
    
    <div style="margin-left: 20px; float: left; margin-top: 20px;"> 
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house2.jpg" alt="house">
      </div>
    </div>
    <div style="margin-left: 20px; float: left; margin-top: 20px;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house5.jpg" alt="house">
      </div>
    </div>
    <div style="margin-left: 20px; float: left; margin-top: 20px;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house4.jpg" alt="house">
      </div>
    </div>
    <div style="margin-left: 20px; float: left; margin-top: 20px;">
      <div class="bb-1">Summe House</div> 
        <img src="https://www.w3schools.com/w3images/house3.jpg" alt="house">
      </div>
    </div>
  </div>
  
  <h2 style="margin-left: 15px;">About</h2>
  <hr style="margin: 0px 40px 30px 30px;">
  <div>
    <p style="margin-left: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div style="margin-left: 0px;">
    <div class="dd"></div>  
  </div><br>

      
    <div class="ss">
       <img src="https://www.w3schools.com/w3images/team2.jpg">
       <h4>John Doe</h4><br>
       <h5>CEO & Founder</h5><br>
       <h4>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</h4>
       <button class="w3-button w3-light-grey w3-block" style="width: 90%; height: 30px;">Contact</button>
    </div>
    <div class="ss">
       <img src="https://www.w3schools.com/w3images/team1.jpg">
       <h4>Jane Doe</h4><br>
       <h5>Architect</h5><br>
       <h4>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</h4>
       <button class="w3-button w3-light-grey w3-block" style="width: 90%; height: 30px;">Contact</button>
    </div>
   <div class="ss">
       <img src="https://www.w3schools.com/w3images/team3.jpg">
       <H4>Mike Ross</H4><br>
       <h5>Architect</h5> <br>
       <h4>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</h4>
       <button class="w3-button w3-light-grey w3-block" style="width: 90%; height: 30px;">Contact</button>
   </div>
   <div class="ss">
    <img src="https://www.w3schools.com/w3images/team4.jpg">
    <H4>Dan Star</H4><br>
    <h5>ArchitectEO & Founder</h5><br>
    <h4>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</h4>
    <button class="w3-button w3-light-grey w3-block" style="width: 90%; height: 30px;">Contact</button>
</div>


<h2>Contact</h2>
<hr><br>
<h4>Lets get in touch and talk about your next project.</h4><br>

<input class="w3-input w3-border" type="text" placeholder="Name" required="" name="Name" style="width: 100%; height: 30px;"><br><br>

<input class="w3-input w3-border" type="text" placeholder="Email" required="Email" name="Email" style="width: 100%; height: 30px;"><br><br>

<input class="w3-input w3-border" type="text" placeholder="Subjest" required="Subjest" name="Subjest" style="width: 100%; height: 30px;"><br><br>

<input class="w3-input w3-border" type="text" placeholder="Comment" required="Comment" name="Comment" style="width: 100%; height: 30px;"><br><br>

<button  style="width: 200px; height: 50px;" type="submit" >
 SEND MESSAGE
</button><br><br>

 <img class="g" src="https://www.w3schools.com/w3images/map.jpg"><br>
 
 <footer class="h">
  <h4>Powered by <a style="color: rgb(255, 255, 255);" href="https://www.w3schools.com/w3css/default.asp">w3.css</a></h4>
</footer>

    </body>
  </html>